.news img {
    
}

.news h2 {

}

.news p {

}

.news button {

}


.news {
    background-color: #f11;
}

/* block and element */
.news__photo {
    /*  */
}

.new__header {}

.news__content {}

.news__button {}


/* B.E.M */
.news__button--danger {
    background-color: #f22;
}

.news__button--warning {
    background-color: #e3dc0b;
}

.news__block__text {
    text-align: center;
}


/* class combinations */
section.burger {
  background-color: rgb(212, 93, 198);
}

.burger h2 {
  background-color: #5bc566;
  text-align: center;
}

.burger p.mustard {
  background-color: #eed324;
}

.burger button.btn.btn-danger {
  background-color: #d0175b;
  color: #fff;
}

.burger .btn.btn-warning {
  background-color: #        <section class="news">
  <img src="" class="photo">
  <h2 class="header">Lorem, ipsum.</h2>
  <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, molestias.</p>
  <button class="button">button 1</button>
  <button class="button">button 2</button>
</section>ead707;
}

/* h1 {
    text-align: center;
    text-transform: cap        <section class="news">
            <img src="" class="photo">
            <h2 class="header">Lorem, ipsum.</h2>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, molestias.</p>
            <button class="button">button 1</button>
            <button class="button">button 2</button>
        </section>italize;
    color: #12e1b1
}

h2 {
    text-align: center;
    text-transform: capitalize;
    color: #12e1b1 
} */

h1,
h2,
.footer p {
  text-align: center;
  text-transform: capitalize;
  color: #12e1b1;
}
